<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link th:href="@{/css/post-style.css}" rel="stylesheet" type="text/css">
    <!--    <link href="../../static/css/post-list-style.css" rel="stylesheet" type="text/css">-->
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Prompt:wght@900&display=swap" rel="stylesheet">

    <title>HangHae.Log</title>
</head>
<body>
    <div class="background-body"></div>

    <div th:include="posts/subHeader.html"></div>

    <div class="wrap">
        <form action="/posts/write" method="post" accept-charset="UTF-8">
            <div class="save-post-btn">
                <button type="submit" class="btn btn-outline-info">등록</button>
                <button type="button" class="btn btn-outline-secondary" th:onclick="|location.href='@{/posts}'|">취소</button>
            </div>

            <div>
                <input class="form-control form-control-lg" type="text" name="title" placeholder="제목을 입력해주세요." aria-label="제목" required>

                <div class="writer-password">
                    <div class="col writer row">
                        <label for="inputWriter" class="col col-md-3 col-form-label">작성자</label>
                        <div class="col">
                            <input type="text" class="form-control" name="writer" id="inputWriter" placeholder="작성자명을 입력해주세요." required>
                        </div>
                    </div>
                    <div class="col password row">
                        <label for="inputPassword" class="col col-3 col-form-label">비밀번호</label>
                        <div class="col">
                            <input type="password" class="form-control" name="password" id="inputPassword" placeholder="비밀번호를 입력해주세요." required>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <textarea class="form-control content" name="content" id="exampleFormControlTextarea1" placeholder="내용을 입력해주세요." rows="10" required></textarea>
                </div>
            </div>
        </form>
    </div>
</body>
</html>