
.background-body {
    position: fixed;
    z-index: -1;
    top: 150px;
    height: 100%;
    width: 100%;
    background-color: #dee5f6;
}

.wrap {
    width: 700px;
    margin: 0px auto;
    padding-top: 200px;
}

.save-post-btn {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.created-at {
    float: left;

    padding-top: 10px;
}

.writer-password {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;

    margin-top: 10px;
}

.writer {
    padding-right: 10px;
}

.password {
    padding-left: 10px;
}

.content {
    margin-top: 10px;

    resize: none;
}