* {
    font-family: 'Gowun Dodum', sans-serif;
}

.background-body {
    position: fixed;
    z-index: -1;
    top: 150px;
    height: 100%;
    width: 100%;
    background-color: #dee5f6;
}

.wrap {
    z-index: 1;

    width: 700px;
    margin: 0px auto;
    padding-top: 180px;
}

.save-post-btn {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    margin-top: 10px;

    resize: none;
}

.post-title {
    font-size: 30px;
}

.post-image {
    width: 6%;
}

.post-writer {
    width: 42%;

    vertical-align: center;
}

.post-create-date {
    width: 42%;

    vertical-align: center;
}

.post-content {
    font-size: 20px;

    white-space: pre;
}

.comment-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    vertical-align: middle;
    justify-content: space-between;
}

.comment-input-div {
    flex: 7;

    margin-right: 10px;
}

.comment-input {
    resize: none;
}

.comment-save-btn {
    flex: 1;
    display: inline-flex;
    height: 80px;

    margin-left: 10px;
}

.comment-btn {
    width: 11%;

    text-align: center;
}

.comment-content-td {
    white-space: pre;

    border-bottom: 1px solid dimgrey;
}